
		<div id='left'>
				<div class="block">
					<h3>栏目管理</h3>
					<a href="{:U('Admin/Cat/catlist')}">栏目列表</a><br />
					<a href="{:U('Admin/Cat/catAdd')}">添加栏目</a>
				</div>
				<div class="block">
					<h3>文章管理</h3>
					<a href="{:U('Admin/Art/artList')}">文章列表</a><br />
					<a href="{:U('Admin/Art/artAdd')}">发布文章</a>
				</div>
				<div class="block">
					<h3>其他</h3>
					<a href="{:U('Admin/Tag/tagList')}">标签管理</a><br />
					<a href="#">留言管理</a><br />
					<a href="#">友情链接</a><br />
				</div>
				<div class="block">
					<h3>个人中心</h3>
					<a href="#">修改密码</a><br />
					<a href="#">退出登录</a>
				</div>	
		</div>
